{{> _adminHeader}}
<div class="model-page">
    {{>_model}}
    <div class="model-details">
        <h3>New coment answer</h3>
      <form class="edit-model" action="/admin/coments_answers/object/{{coment_answer._id}}/update" method="POST">
           
            <label>
                Publisher:
                <select name="user" required>
                    {{#each users}}
                        <option value="{{_id}}">{{username}}</option>
                    {{else}}
                        <option>No users</option>
                    {{/each}}
                </select>
            </label>
            <label>
                Coment:
                <select name="coment" required>
                    {{#each coments}}
                        <option value="{{_id}}">{{content}}</option>
                    {{else}}
                        <option>No coments</option>
                    {{/each}}
                </select>
            </label>
            <label>
                Content:
                <textarea name="content" required>{{coment_answer.content}}</textarea>
            </label>
            

            <div class="form-actions-div">
                <a href="/admin/coments_answers/object/{{coment_answer._id}}/delete" class="link-btn-style danger">Delete</a>

                <input type="submit" class="default-btn-input" value="Update answer">
            </div>
            
      </form>

    </div>
    {{>_recentTasks}}
</div>